/* OMEGA INDUSTRIAL THEME (MASTER) */
@import "./colors.css";
@import "./knobs.css";
@import "./leds.css";
@import "./ports.css";
@import "./sliders.css";

.omega-theme-context.theme-industrial {
    background: var(--module-bg);
    color: var(--module-label-color);
    font-family: var(--module-font-mono);
    border: var(--module-border);
}
